@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

:root {
  /* Cores */
  --white: #FFFFFF;
  --whitePearl: #FFFAF0;
  --blackOff: #0F0F0F;
  --red: #B83A2D;
  --robotoflex: "Roboto Flex", sans-serif;
}

/* //////////////////// Header //////////////////// */

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--robotoflex);
  font-weight: 700;
}

.topHeader {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topHeader h2 {
  font-size: 24px;
  color: var(--whitePearl);
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40%;
  border-top: 2px solid var(--whitePearl);
  padding: 0 25px;
}

header nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  position: relative;
  color: var(--whitePearl);
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--whitePearl);
  transition: width 0.3s ease;
}

header nav ul li:hover a::before {
  width: 100%;
}

/* //////////////////// Inicio Hero ////////////////////*/

.heroPage {
  width: 100%;
  height: calc(100dvh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroContent {
  width: 80%;
}

.heroContent h1 {
  font-size: calc(2.5rem + 2vw);
  font-weight: 700;
  color: var(--whitePearl);
}

.markRed {
  color: var(--red);
}

.heroContent h2 {
  font-weight: 700;
  font-size: calc(.6rem + .6vw);
  margin: 40px 0;
  color: var(--whitePearl);
}

/* //////////////////// Animando Botao //////////////////// */

.heroContent button {
  position: relative;
  width: 350px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border: 1px solid var(--whitePearl);
  border-radius: 12px;
  color: var(--red);
  transition: color 0.4s ease-in-out;
  transition: scale 0.2s ease-in-out;
  font-weight: 700;
}

.heroContent button::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  border-radius: 12px;
  background-color: var(--red);
  transition: width 0.4s ease-in-out;
  z-index: -1;
}

.heroContent button:hover {
  color: var(--whitePearl);
}

.heroContent button:hover::before {
  width: 100%;
}

.heroContent button:active {
  scale: 1.05;
}