@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
@import "tailwindcss";


:root {
  /* Cores */
  --white: #FFFFFF;
  --whitePearl: #FFFAF0;
  --blackOff: #0F0F0F;
  --red: #B83A2D;
  --robotoflex: "Roboto Flex", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  width: 100dvw;
  margin: 0;
  padding: 0;
  background-color: #161616;
  font-family: "Montserrat", sans-serif;
}

.markRed {
  color: var(--red);
}